$baseFontSize: 16;


$color_black: #000000;
$color_white: #ffffff;
$color_ocean: #53c1de;


$fontFamily_primary:  Helvetica, Arial, -apple-system,
                      system-ui, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, 'Helvetica Neue', sans-serif;

$fontFamily_secondary: 'Titillium Web', Helvetica, Arial, -apple-system,
                        system-ui, BlinkMacSystemFont, 'Segoe UI',
                        Roboto, 'Helvetica Neue', sans-serif;
